<%# Intro to new bands page %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <p id="newBandIntro">
        Welcome. This page allows you to add your own band or artist recommendations, just fill out the form (instructions below) below!
      </p>
      <%# instructions on how to fill out the form %>
      <ul id="bandFormInstructions">
        <li>Band/Artist name is required</li>
        <li>Genre is required</li>
        <li>Minimum number of members is 1</li>
      </ul>
    </div>
  </div>
</div>
<%# form that uses the simple_form gem  %>
<div class="container">
  <%= simple_form_for @band, url: '/newbands' do |b|  %>
  <div class="row">
    <% if flash[:name] %>
      <%= b.input :name, label: "Name",input_html: { name: "name", value: flash[:name] , class: "col-10" }, label_html: { id: "name" }  %>
    <% else %>
      <%= b.input :name, label: "Name",input_html: { name: "name", class: "col-10" }, label_html: { id: "name" }  %>
    <% end %>
    <span id="nameError"></span>
    <% if flash[:country] %>
      <%= b.input :country, as: :string, input_html: { name: "country", value: flash[:country], class: "col-10" }, label_html: { id: "country" }  %>
    <% else %>
      <%= b.input :country, as: :string, input_html: { name: "country", class: "col-10" }, label_html: { id: "country" }  %>
    <% end %>
  </div>
  <div class="row">
    <% if flash[:members] %>
      <%= b.input :members, input_html: { name: "members", value: flash[:members].to_i, min: 1, class: "col-10" }, label_html: { id: "members" } %>
    <% else %>
      <%= b.input :members, input_html: { name: "members", min: 1, class: "col-10", value: 1 }, label_html: { id: "members" } %>
    <% end %>
    <% if flash[:genre] %>
      <%= b.input :genre, label: "Genre", input_html: { name: "genre", value: flash[:genre], class: "col-10" }, label_html: { id: "genre" }   %>
    <% else %>
      <%= b.input :genre, label: "Genre", input_html: { name: "genre", class: "col-10" }, label_html: { id: "genre" }   %>
    <% end %>
    <span id="genreError"></span>
  </div>

    <%= b.button :submit, "Save", class: "btn-primary", id: "save"  %>
  <% end %>

    <%# displays result after submission %>
    <p id="flash">
      <% if flash[:result] %>
        <%= flash[:result] %>
      <% end %>
    </p>

</div>
