<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <%= display_meta_tags title: "Dan's Music Site", icon: "/images/favicon.ico" %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="/javascript/index.js">

    </script>
  </head>

  <body>
    <nav id="nav-container" class="navbar navbar-expand-sm navbar-light bg-primary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img id="logoNav" src="/images/guitar192x192.webp" alt="logo that shows a guitar"></a>
          <ul id="navUl" class="navbar-nav container-fluid d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/bands">Bands</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link active" href="/newbands">Add a new band</a>
            </li>
          </ul>
      </div>
    </nav>
    <%= yield %>
    <div class="container">
      <div class="row cardContainer">

        <div class="card m-3">
          <img class="card-img-top m-1" src="/images/first.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Rise Against</h4>
            <p class="card-text">A fake image of Rise Against at a "concert"</p>
          </div>
        </div>

        <div class="card m-3">
          <img class="card-img-top m-1" src="/images/second.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Green Day</h4>
            <p class="card-text">A fake image of Green Day at a "concert"</p>
          </div>
        </div>

        <div class="card m-3">
          <img class="card-img-top m-1" src="/images/third.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Metallica</h4>
            <p class="card-text">A fake image of Metallica at a "concert"</p>
          </div>
        </div>

        <div class="card m-3">
          <img class="card-img-top m-1" src="/images/fourth.jpg" alt="Card image" style="width:100%">
          <div class="card-body">
            <h4 class="card-title">Iron Maiden</h4>
            <p class="card-text">A fake image of Iron Maiden at a "concert"</p>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-dark bg-primary">
            <footer>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-3 item">
                            <img src="/images/guitar192x192.webp" class="logo" alt="Logo" />
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                              <li><h3>Social Media</h3></li>
                              <li><a href="https://www.facebook.com/">Facebook</a></li>
                              <li><a href="https://www.twitter.com/">Twitter</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-6 col-md-3 item">
                            <ul>
                              <li><h3>Tickets</h3></li>
                              <li><a href="https://www.ticketmaster.ie/">Ticketmaster</a></li>
                              <li><a href="https://www.tickets.ie/">Tickets.ie</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
  </body>
</html>
