<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <%= display_meta_tags title: "Dan's Music Site", icon: "/images/favicon.ico" %>
    <%= javascript_importmap_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <nav id="nav-container" class="navbar navbar-expand-sm navbar-light bg-primary ">
      <div class="container-fluid">
        <a class="navbar-brand" href="/"><img id="logoNav" src="/images/guitar192x192.webp" alt="logo that shows a guitar"></a>
          <ul id="navUl" class="navbar-nav container-fluid d-flex justify-content-around">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Bands</a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#">Add a new band</a>
            </li>
          </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
