<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/stylesheet/style.css">
    <%= display_meta_tags title: "Dan's Music Site", icon: "/images/favicon.ico" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
